@import "bootstrap";
@import "toastr";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.alert-alert {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-success;
}
div#remote_container {
  padding: 0 0 0 13%;
}
.container {
  max-width: 90%;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left: 40%;
}
/* online/ offline */
.online_status {
  color: black;
  transition: color 1s ease;
  &.online::after {
    content: "";
    background: #42b72a;
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin: 0px 0 2px 10px;
    width: 6px;
  }
}
.space a {
  padding: 10px;
}
/* messages */
.name-sender {
  margin: 0 0 0 90%;
  font-style: italic;
  font-family: monospace;
  opacity: 0.5;
}
.name-receiveder {
  margin: 0 0 0 10px;
  font-style: italic;
  font-family: monospace;
  opacity: 0.5;
}
div#page-content-wrapper {
  width: 100%;
}
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}
.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding: 0px;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}
.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}
.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}
.active_chat{ background:#ebebeb;}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 20px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 10px 10px 10px 10px;
  width: 100%;
}
.sent_msg span.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 5px 0;
  float: right;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 5px 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}
.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 10px 10px 10px 10px;
  width: 100%;
  border-radius: 20px;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 45px;
  width: 100%;
  margin: 10px 0;
}
.type_msg {position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  height: 38px;
  position: absolute;
  right: 5px;
  top: 4px;
  width: 41px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
/* left */
li.chatrooms {
  margin-left: 65px;
  padding: 10px;
}
li.users {
  margin-left: 65px;
  padding: 10px;
}
.logo{
}
.settings {
  height:73px;
  float:left;
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
  text-align: center;
  font-size:20px;
}
/* ScrolBar  */
.scrollbar
{
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.scrollbar:hover
{
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Scrollbar Style */
#style-1::-webkit-scrollbar-track
{
  border-radius: 2px;
}
#style-1::-webkit-scrollbar
{
  width: 5px;
  background-color: #F7F7F7;
}
#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BFBFBF;
}
/* Scrollbar End */
.fa-lg {
  font-size: 1em;
}
.fa {
  position: relative;
  width: 55px;
  height: 36px;
  text-align: center;
  top: 7px;
  right: 13px;
}
.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: hidden;
  opacity: 1;
}
.main-menu {
  background: #F7F7F7;
  position: absolute;
  top: 57px;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 55px;
  overflow:hidden;
  -webkit-transition:width .2s linear;
  transition:width .2s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
}
.main-menu>ul {
  margin:7px 0;
}
.main-menu li {
  position:relative;
  display:block;
  width:250px;
}
.main-menu li>a {
  position:relative;
  width:255px;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#8a8a8a;
  font-size: 13px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .14s linear;
  transition:all .14s linear;
  border-top:1px solid #f2f2f2;
  text-shadow: 1px 1px 1px  #fff;
}
.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:55px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}
.main-menu .nav-text  {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Titillium Web', sans-serif;
}
.main-menu .share {
}
.main-menu .fb-like {
  left: 180px;
  position:absolute;
  top: 15px;
}
.main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
}
.no-touch .scrollable.hover {
  overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}
/* Logo Hover Property */
.settings:hover, settings:focus {
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
}
.settings:active, settings:focus {
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
}
a:hover,a:focus {
  text-decoration:none;
  border-left:0px solid #F7F7F7;
}
nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  text-transform: uppercase;
}
/* Darker element side menu Start*/
.darkerli
{
  background-color:#ededed;
  text-transform:capitalize;
}
.darkerlishadow
{
  background-color:#ededed;
  text-transform:capitalize;
  -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}
.darkerlishadowdown
{
  background-color:#ededed;
  text-transform:capitalize;
  -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}
/* Darker element side menu End*/
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#00bbbb;
  text-shadow: 0px 0px 0px;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
  position: relative;
  top: -229px;
  left: 397.5px;
  width: 50%;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-inline form {
    width: 100%;
}
input#search {
  width: 89%;
}

.task_title{
  color: black;
}

.fc-month-view td.fc-bgevent {
  padding: 30px !important;
  font-size: 14px;
  color: black;
  opacity: 0.8;
  text-align: center;
}
.fc-agendaWeek-view td.fc-bgevent {
  padding: 14px !important;
  font-size: 14px;
  color: black;
  opacity: 0.8;
  text-align: center;
}

.task_title{
  color: black;
}
