@import "bootstrap";
@import "toastr";

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left: 40%;
}

.btn-done{
  float: right;
}
